In [ ]:
nome = input("Digite seu nome.")

Digite seu nome.Gustavo

In [ ]:
print("Olá, " + nome + "!")

Olá, Gustavo!

In [ ]:
print(f"Olá {nome} !")

Olá Gustavo !

Adição

In [ ]:
a = 5

In [ ]:
b= 3

In [ ]:
soma = a + b

In [ ]:
print(soma)

8

com casas decimais = Float. Sem casas decimais = int.

In [ ]:
a = int(input("Digite o primeiro valor: "))

Digite o primeiro valor: 10

In [ ]:
b = int(input("Digite o primeiro valor: "))

Digite o primeiro valor: 2

In [ ]:
sub = a - b

In [ ]:
print("O resultado é: ", sub)

O resultado é:  8

Solicite ao usuário que insira seu nome, idade e altura

Armazene essas informações em variaveis apropiadas

In [ ]:
Nome = str(input("Digite seu nome: "))

Digite seu nome: Gustavo

In [ ]:
Idade = int(input("Digite sua idade: "))

Digite sua idade: 14

In [ ]:
Altura = float(input("Digite sua altura: "))

Digite sua altura: 1.65

In [ ]:
Ano_atual = 2026

In [ ]:
Ano_de_nascimento = Ano_atual - Idade

In [ ]:
num1 = float(input("Digete um número "))

Digete um número 10

In [ ]:
num2 = float(input("Digete outro número "))

Digete outro número 2

In [ ]:
soma = num1 + num2

In [ ]:
sub = num1 - num2

In [ ]:
multi = num1 * num2

In [ ]:
divi = num1 / num2

In [ ]:
print("Idade : ", Idade)

Idade :  14

In [ ]:
print("Altura: ", Altura)

Altura:  1.65

In [ ]:
print("Ano de nascimento: ", Ano_de_nascimento)

Ano de nascimento:  2012

In [ ]:
print("Soma: ", soma)

Soma:  12.0

In [ ]:
print("Subtração"), sub

Subtração

(None, 8.0)

In [ ]:
print("Multiplicação: ", multi)

Multiplicação:  20.0

In [ ]:
print("Divisão: ", divi)

Divisão:  5.0

In [ ]:
reais = float(input("Digite o valor em reias: "))

Digite o valor em reias: 100

In [ ]:
dolar = reais / 5.00

In [ ]:
print(f"R$ {reais} em dólar é: $ {dolar}")

R$ 100.0 em dólar é: $ 20.0

In [159]:
nota1 = float (input("Digite a primeira nota: "))

Digite a primeira nota: 5

In [160]:
nota2 = float (input("Digite a segunda nota: "))

Digite a segunda nota: 5

In [161]:
nota3 = float (input("Digite a terceira nota: "))

Digite a terceira nota: 5

In [166]:
media = (nota1 + nota2 + nota3) / 3

In [173]:
print(f"Sua média foi: {media}")

Sua média foi: 5.0

In [178]:
if media >= 7:
    print("Aprovado!")
else:
    print("Reprovado!")

Reprovado!

In [186]:
nota1 = float (input("Digite a primeira nota: "))

Digite a primeira nota: 5

In [187]:
nota2 = float (input("Digite a segunda nota: "))

Digite a segunda nota: 6

In [188]:
nota3 = float (input("Digite a terceira nota: "))

Digite a terceira nota: 5

In [189]:
media = (nota1 + nota2 + nota3) / 3

In [190]:
print(f"Sua média foi: {media:.2f}")

Sua média foi: 5.33

In [191]:
if media >= 7:
    print("Aprovado!")
elif media >= 5:
    print("Recuperação!")
else:
    print("Reprovado!")

Recuperação!